## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.cache

## Publish output
publish/

## NuGet
*.nupkg
*.nuget.props
*.nuget.targets
project.assets.json
packages/

## Rider
.idea/

## VS Code
.vscode/

## OS
.DS_Store
Thumbs.db
